.cabecalho{
    width:100%;
}

body{
    /*font-family: 'Merriweather', serif;*/
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    margin:0;
}

.dp-menu ul{
    list-style-type: none;
    display: inline;
    margin-left:10%;
}

.dp-menu ul li{
    display: inline;
    position:relative;
}

.dp-menu ul li a{
    display: inline-block;
    text-decoration: none;
    padding:10px;
    color:black;
    transition: 0.5s;
    cursor:pointer;
    border-left: 1px solid #000000;
}

.dp-menu ul li a:hover{
    background-color: #cfe7f9;
}

/*SUBMENU*/
.dp-menu ul ul{
    display:none;
    position: absolute;
    left:0;
    width: 300px;
    text-align: center;
}

.dp-menu ul li:hover ul{
    display:block;
}

/*
.dp-menu ul ul li:last-child{
    display:block;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom: 1px solid #000000;
}
*/
.dp-menu ul ul li a{
    display:block;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    background-color: white;
}

.texto-boasvindas{
    text-align: center;
    font-size: 2em;
    margin: 40 0 1em;
    clear:left;
}

.img-boasvindas{
    width:100%;
    transition: 400ms;
    margin-bottom: 2%;
}

.img-boasvindas:hover{
    opacity: 0.8;
}


.texto-apresentacao{
    font-size: 16px;
    line-height: 1.2em;
    margin-left: 15%;
    width: 45%;
    text-align: justify;
}



.informes, .destaquesUfopa{
    float: right;
    width:320px;
    margin-right: 15%;
    margin-top: 0;
}

.destaquesUfopa{
    margin-top: 10%;
}

.informes li, .destaquesUfopa li{
    display:inline-block;
    width:100%;
    margin-right: 0;
    vertical-align: top;
    padding: 10%;
    padding-top: 2%;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #000000;
}


.informes li h2, .destaquesUfopa li h2{
    text-align: center;
    font-size: 18px;
}

.informes li a, .destaquesUfopa li a{
    color: #000000;
    display:inline-block;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 5px;
    border-top: 1px solid #b4b4b4;
    font-size: 16px;
}

.informes li a:nth-child(5){
    color: red;
}

.Empresas-PosGrad{
    margin-top: 5%;
    margin-left: 15%;
    width: 600px;
}

.Empresas-PosGrad h2{
    font-size: 16px;
}

/*
.fotos-empresa{
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes animacao{
    25%{
        opacity: 1;
        transform: scale(1.1,1.1)
    }
    50%{
        opacity: 0;
    }
}

.fotos-empresa:nth-child(2){
    animation-delay: 6s;
}

.fotos-empresa:nth-child(3){
    animation-delay: 6s;
}

.fotos-empresa:nth-child(4){
    animation-delay: 9s;
}

.fotos-empresa:nth-child(5){
    animation-delay: 12s;
}
*/

input[type=radio]{
    display: none;
}

.card{
    position: absolute;
    left:0;
    right:0;
    margin: auto;
    cursor:pointer;
    transition: transform 0.4s ease;
}

.container img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.container{
    margin-top: 5%;
    margin-left: 30%;
    transform-style: preserve-3d;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}


#item1:checked ~ .cards #song2,
#item2:checked ~ .cards #song3,
#item3:checked ~ .cards #song4,
#item4:checked ~ .cards #song5,
#item5:checked ~ .cards #song6,
#item6:checked ~ .cards #song7,
#item7:checked ~ .cards #song8,
#item8:checked ~ .cards #song9,
#item9:checked ~ .cards #song10,
#item10:checked ~ .cards #song11,
#item11:checked ~ .cards #song12,
#item12:checked ~ .cards #song13,
#item13:checked ~ .cards #song14,
#item14:checked ~ .cards #song15,
#item15:checked ~ .cards #song16,
#item16:checked ~ .cards #song17,
#item17:checked ~ .cards #song18,
#item18:checked ~ .cards #song19,
#item19:checked ~ .cards #song20,
#item20:checked ~ .cards #song1{
    transform: translateX(60%) scale(0.8);
    opacity: 0.4;
    z-index: 1;
}

#item1:checked ~ .cards #song1,
#item2:checked ~ .cards #song2,
#item3:checked ~ .cards #song3,
#item4:checked ~ .cards #song4,
#item5:checked ~ .cards #song5,
#item6:checked ~ .cards #song6,
#item7:checked ~ .cards #song7,
#item8:checked ~ .cards #song8,
#item9:checked ~ .cards #song9,
#item10:checked ~ .cards #song10,
#item11:checked ~ .cards #song11,
#item12:checked ~ .cards #song12,
#item13:checked ~ .cards #song13,
#item14:checked ~ .cards #song14,
#item15:checked ~ .cards #song15,
#item16:checked ~ .cards #song16,
#item17:checked ~ .cards #song17,
#item18:checked ~ .cards #song18,
#item19:checked ~ .cards #song19,
#item20:checked ~ .cards #song20{
    transform: translateX(30%) scale(1);
    opacity: 1;
    z-index: 2;
}

/*

.slider{
    list-style-type: none;
    margin-left: 15%;
    
      deixa todos os itens da lista
      na horizontal e todos com a
      mesma largura

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.slider{
	--total-items: 4;
	width: calc(var(--total-items) * 100%);
}

.slider-show{
    overflow: hidden;
}

.slider{
    position: relative;
    left: 0%;
}

.slider{
    --selected-item: 0;
    position: relative;
    left: calc(var(--selected-item) * -100%);
}

.slide-controller:nth-child(1):checked ~ .slider-show .slider{--selected-item: 0;}
.slide-controller:nth-child(2):checked ~ .slider-show .slider{--selected-item: 1;}
.slide-controller:nth-child(3):checked ~ .slider-show .slider{--selected-item: 2;}
.slide-controller:nth-child(4):checked ~ .slider-show .slider{--selected-item: 3;}

.slide-controller:nth-child(4):checked ~ .slider-show .slider{--selected-item: 4;}
.slide-controller:nth-child(5):checked ~ .slider-show .slider{--selected-item: 5;}
.slide-controller:nth-child(6):checked ~ .slider-show .slider{--selected-item: 6;}
.slide-controller:nth-child(7):checked ~ .slider-show .slider{--selected-item: 7;}

.slide-controller:nth-child(8):checked ~ .slider-show .slider{--selected-item: 8;}
.slide-controller:nth-child(9):checked ~ .slider-show .slider{--selected-item: 9;}
.slide-controller:nth-child(10):checked ~ .slider-show .slider{--selected-item: 10;}
.slide-controller:nth-child(11):checked ~ .slider-show .slider{--selected-item: 11;}

.slide-controller:nth-child(12):checked ~ .slider-show .slider{--selected-item: 12;}
.slide-controller:nth-child(13):checked ~ .slider-show .slider{--selected-item: 13;}
.slide-controller:nth-child(14):checked ~ .slider-show .slider{--selected-item: 14;}
.slide-controller:nth-child(15):checked ~ .slider-show .slider{--selected-item: 15;}

.slider{
    transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

*/